.messageListWrapper {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: flex-start;

    >img {
        height: 28px;
        margin: 32px 0;
    }
}

.messageList {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    flex: 1;

 .message {
     max-width: 440px;

     &:nth-child(2) {
         margin-left: 80px;
     }

     .messageContent {
         font-size: 20px;
         line-height: 28px;
     }

     .messageUser {

        .userImage {

            img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }
        }
     }
 }

}